    {% extends ':front:templateFront.html.twig' %}
    
    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{asset('vendor/font-awesome.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/gentelella/custom.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}"/>
    {% endblock %}

        {% block content %}

        {% block navSite %}
        {% endblock %} 
        
        <body class="error"> 
            <div class="container body">
                <div class="main_container">
                    <div class="col-md-12">
                        <div class="col-middle">
                            <div class="text-center">
                                <h1 class="error-number">{{ status_code }}</h1>
                                <h2>Erreur Interne du Serveur</h2>
                                <p>Nous suivons ces erreurs automatiquement, mais si le problème persiste, n'hésitez pas à nous contacter.
                                En attendant, essayez de rafraîchir.</p>
                                <div class="mid_center">
                                <img src="{{asset('images/error500.png')}}" class="img-responsive" alt="500">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% block footer %}                
        {% endblock %}
        {% endblock %}
        
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{asset( 'js/front/main.js')}}"></script>
        {% endblock %}

