    {% trans_default_domain 'FOSUserBundle' %}

        <div class="row">  
            <div class="col-md-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Edit profile</h2>
                        <a class="btn btn-dark btn-xs back-list" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-reply" aria-hidden="true"></i>Retour profil</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        
                        {% block fos_user_content %}
                            
                        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' }}) }}
                        {{ form_widget(form) }}

                        <label for="fos_user_profile_form_avatar" class="input-label">
                        <i class="fa fa-upload"></i>Select fichier</label>
                        {{ form_row(form.avatar) }}

                        {% if app.user.avatarPath == false  %}
                        <img class="default-avatar" id="selectImage" src="{{asset('images/user.png')}}" alt="your image" />
                        {% else %}

                        <img class="default-avatar" id="selectImage" src="{{asset('uploads/avatar/')~app.user.avatarPath}}" alt="your image" />
                        {% endif%}
                        <p><small>* formats autorisés jpg/png</small></p>
                        <p><small>* format min 128X128px</small></p>
                        <p><small>* taille max 150 Ko</small></p>
                        </div>    
                    </div>

                    <div class="form-group btn">
                        <button type="submit" class="btn btn-success"><i class="fa fa-upload" aria-hidden="true"></i>{{ 'profile.edit.submit'|trans }}</button>
                    </div>
                </div>

                        {{ form_end(form) }}
                        {% endblock fos_user_content %}

        </div>

             
    
                         
              



    

