{% extends ':back:templateAdmin.html.twig' %}

{#  {% block content %}
    <h1>Labels list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for label in labels %}
            <tr>
                <td><a href="{{ path('label_show', { 'id': label.id }) }}">{{ label.id }}</a></td>
                <td>{{ label.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('label_show', { 'id': label.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('label_edit', { 'id': label.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('label_new') }}">Create a new label</a>
        </li>
    </ul>
{% endblock %}#}

 {% block content %}
      

      {#{% for message in app.flashes('succes') %}
      <div id="success">
      </div>
      {% endfor %}#}
   
      
       <div class="">
           
           
           
          <div class="page-title">
            <div class="title_left">
                <h3>Label</h3>
            </div>
               <span class="btn-title-left col-md-2">
                   <a class="btn btn-dark btn-sm" id="AddLabel">Ajouter</a>{{ render(controller('AppBundle:Label:new')) }}</span>

       </div>
          <div class="clearfix"></div>

 
          
                <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Mes labels</h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                 
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 5%">#</th>
                        {#<th style="width: 12%">Icon</th>#}
                        <th style="width: 30%">Nom</th>
                        <th style="width: 20%">Actions</th>
                      </tr>
                    </thead>


                    <tbody>
                        {% for label in labels %}
                      <tr>  
                           <td> {% set counter = ( counter | default(0) ) + 1 %}
                           <small> {{ counter }}</small></td>
                       {#<td><i class="fa fa-list" aria-hidden="true"></i></td>#}
                        <td>{{ label.nom }}
                        <br />
                          <small>Créer le {#{{ sound.date|date ('j/m/y à H:i:s') }}#}</small></td>
                        {#<td><a href="{{ path('label_show', { 'id': label.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>#}
                        <td>{#{{ render(controller('AppBundle:Label:edit',{'id':label.id})) }}#}<a href="{{ path('label_edit', { 'id': label.id }) }}"  class="btn btn-info btn-xs" id="EditLabel"  {#data-toggle="modal"  data-target="#myModal{{ label.id }} "#}><i class="fa fa-pencil"></i> Edit </a>
                         
                          <a href="{{ path('label_delete', { 'id': label.id }) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a></td>
                      </tr>
                       {% endfor %}
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

                </div>
                    
                   </div>   
                       
                
{% endblock %}

{% block scriptForm %}
{#     <script type="text/javascript" src="{{asset('js/backend/form/form_notification.js')}}"></script>#}
      <script type="text/javascript" src="{{asset('js/backend/form.js')}}"></script>

{% endblock %}
