{% extends 'baseAdmin.html.twig' %}

 {% block backoffice %}
 
   
     
     
       <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="{{path('admin_index')}}" class="site_title"><i><img src="{{asset ('images/min-logo-white.png')}}"/></i> <span>Tableau de bord</span></a>
{#            <a class="icon-logo site_title"><span><img src="{{asset ('images/min-logo-white.png')}}"/>Tableau de bord</span></a>#}
          </div>
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
      
             {% if app.user.avatarPath == true  %}
              <img src="{{ asset( 'uploads/avatar/'~app.user.avatarPath) }}" alt="..." class="img-circle profile_img">
              {% else %}
                <img src="{{ asset( 'images/user.png') }}" alt="..." class="img-circle profile_img">
              {% endif%}
                 
            </div>
            <div class="profile_info">
              <span>Bonjour,</span>
              <h2>{{ app.user.username }} </h2>
              
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
             
              <ul class="nav side-menu">
                <li><a href="{{path('admin_index')}}"><i class="fa fa-home"></i> Home</a></li>
                <li><a><i class="fa fa-cube"></i>Rubriques <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="{{path('label_index')}}">Labels</a>
                    </li>
                    <li><a href="{{path('genre_index')}}">Genres musicaux</a>
                    </li>
                    {#<li><a href="{{path('sectionname_index')}}">Noms des sections</a>
                    </li>#}
                    
                   
                    
                  </ul>
                </li>
                <li><a><i class="fa icon-cd"></i>Musiques <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="{{path('sound_index')}}">Toutes la musique</a>
                    </li>
                    <li><a href="{{path('sound_new')}}">Ajouter</a>
                    </li>

                   
                   {# <li><a href="{{path('genre_index')}}">Genres musicaux</a>
                    </li>
                     <li><a href="{{path('label_index')}}">Labels</a>
                    </li>#}
                    
                  </ul>
                </li>
                 <li><a><i class="fa fa-laptop"></i> Pages <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                   {# <li><a href="{{path('homepage_index')}}">HomePage</a></li>#}
                   <li><a href="{{path('sectionname_index')}}">Noms des sections</a></li>
                    <li><a href="{{path('section_index')}}">Home page</a></li>
                    <li><a href="{{path('production_index')}}">Production</a></li>
                   {# <li><a href="{{path('style_index')}}">Styles</a></li>#}
                   {# {#<li><a href="{{path('headerpage_index')}}">headerpagedefault</a></li>#}
                    {#<li><a href="{{path('header_index')}}">Header</a></li>#}
                    {#<li><a href="{{path('headertexte_index')}}">Textes Animations</a></li>#}
                    {#<li><a href="{{path('item_index')}}">Items</a></li> #}
                    {#<li><a href="#">Socials</a></li>#}
                    
                  </ul>
                </li>
                 <li><a><i class="fa fa-picture-o"></i> Header <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    
                    <li><a href="{{path('header_index')}}">Style</a></li>
                    <li><a href="{{path('headertexte_index')}}">Phrase d'accroche</a></li>
                    <li><a href="{{path('imagemobile_index')}}">Version Mobile</a></li>
                  </ul>
                </li>
                
                <li><a><i class="fa fa-cog"></i> Options <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="{{path('social_index')}}">Réseaux sociaux</a></li>  
                    <li><a href="{{path('ressources')}}">Ressources</a></li>
                  </ul>
                </li>
              </ul>
       
            </div>
           
          </div>
          <!-- /sidebar menu -->

        </div>
      </div>
     
        <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {% if app.user.avatarPath == true  %}
                  <img src="{{ asset( 'uploads/avatar/'~app.user.avatarPath) }}" alt="">
                  {% else %}
                      <img src="{{ asset( 'images/user.png') }}" alt="">
                      {% endif%}
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                  <li><a href="{{ path('home') }}" target="new"> Voir le site</a>
                  </li> 
                  <li><a href="{{ path('fos_user_profile_show') }}">  Profile</a>
                  </li>
                  <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Déconnexion</a>
                  </li>
                </ul>
              </li>

{#              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">2</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                  <li>
                    <a>
                      <span class="image">
                                        <img src="{{asset('images/gentelella/img.jpg')}}" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="{{asset('images/gentelella/img.jpg')}}" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                 
                 
                  <li>
                    <div class="text-center">
                      <a href="inbox.html">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>#}

            </ul>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->


 <div class="right_col" role="main">
 
                {% for message in app.flashes('update') %}
                    <div id="update">
                    </div>
                {% endfor %}
                
                {% for message in app.flashes('succes') %}
                <div id="success">
                </div>
                {% endfor %}
                
             
             {% for message in app.flashes('delete') %}
             <div id="delete">
                 </div>
             {% endfor %}
      
            {% for message in app.flashes('erreur') %}
            <div id="error">
            </div>
            {% endfor %}
             
             
 {% block content %}
          
      <!--------------------------
        | Your Page Content Here |
        -------------------------->
      
        
        
          {% endblock %}
     {% block footer %}
        <footer>
          <div class="copyright-info col-md-10 col-sm-10">
            <p class="pull-right">Easy Music Project - &copy {{ "now"|date('Y')}} Tous droits réservés</p>
          </div>
          <div class="clearfix"></div>
        </footer>
   
   {% endblock %}
 </div>

  {% endblock %}
{% block scriptForm %}
{#     <script type="text/javascript" src="{{asset('js/backend/form/form_notification.js')}}"></script>#}
      <script type="text/javascript" src="{{asset('js/backend/form.js')}}"></script>

{% endblock %}
