<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Admin{% endblock %}</title>
        
        {% block stylesheets %}
         <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
         <link rel="stylesheet" type="text/css" href="{{asset('vendor/bootstrap.min.css')}}"/>
         <link rel="stylesheet" type="text/css" href="{{asset('vendor/font-awesome.min.css')}}"/>
         <link rel="stylesheet" type="text/css" href="{{asset('vendor/vynil-embedded.css')}}"/>
         <link rel="stylesheet" type="text/css" href="{{asset('vendor/animate.css')}}"/>
         <link rel="stylesheet" href="{{ asset('css/gentelella/custom.css') }}" />
         <link rel="stylesheet" href="{{ asset('css/gentelella/maps/jquery-jvectormap-2.0.3.css') }}" />
         <link rel="stylesheet" href="{{ asset('css/gentelella/icheck/flat/green.css') }}" />
         <link rel="stylesheet" href="{{ asset('css/gentelella/floatexamples.css') }}" />
         <link rel="stylesheet" href="{{ asset('css/gentelella/switchery/switchery.min.css') }}" />
         <link rel="stylesheet" href="{{ asset('js/backend/gentelella/datatables/jquery.dataTables.min.css') }}" />
         <link rel="stylesheet" href="{{ asset('js/backend/gentelella/datatables/buttons.bootstrap.min.css') }}" />
         <link rel="stylesheet" href="{{ asset('js/backend/gentelella/datatables/fixedHeader.bootstrap.min.css') }}" />
         <link rel="stylesheet" href="{{ asset('js/backend/gentelella/datatables/responsive.bootstrap.min.css') }}" />
         <link rel="stylesheet" href="{{ asset('js/backend/gentelella/datatables/scroller.bootstrap.min.css') }}" />
         <link rel="stylesheet" href="{{ asset('css/gentelella/select/select2.min.css') }}" />
         <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
         {% endblock %}
         
    </head>
    <body class="nav-md">
        <div class="container body">
        <div class="main_container">
        {% block body %}
             {% block backoffice %}
                 
             {% endblock %}
             
        {% endblock %}
        </div>
          
        </div>
        {% block javascripts %}
        
        <script type="text/javascript" src="{{asset('vendor/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('vendor/bootstrap.min.js')}}"></script>        
        <script type="text/javascript" src="{{asset('js/backend/gentelella/nprogress.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/progressbar/bootstrap-progressbar.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/nicescroll/jquery.nicescroll.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/icheck/icheck.min.js')}}"></script>
        <script type="text/javascript" src="{{asset( 'js/backend/gentelella/moment/moment.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datepicker/daterangepicker.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/chartjs/chart.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/flot/jquery.flot.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/flot/jquery.flot.pie.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/flot/jquery.flot.orderBars.js')}}"></script>       
        <script type="text/javascript" src="{{asset('js/backend/gentelella/flot/jquery.flot.time.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/flot/date.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/flot/jquery.flot.spline.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/flot/jquery.flot.stack.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/flot/curvedLines.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/flot/jquery.flot.resize.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/maps/jquery-jvectormap-2.0.3.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/maps/gdp-data.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/maps/jquery-jvectormap-world-mill-en.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/maps/jquery-jvectormap-us-aea-en.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/switchery/switchery.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/notify/pnotify.core.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/notify/pnotify.buttons.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/notify/pnotify.nonblock.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/jquery.dataTables.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/dataTables.bootstrap.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/dataTables.buttons.min.js')}}"></script>       
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/buttons.bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/jszip.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/pdfmake.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/vfs_fonts.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/buttons.html5.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/buttons.print.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/dataTables.fixedHeader.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/dataTables.responsive.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/responsive.bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/datatables/dataTables.scroller.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/tags/jquery.tagsinput.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/backend/gentelella/select/select2.full.js')}}"></script>
       {# <script type="text/javascript" src="{{asset('js/backend/gentelella/easypie/jquery.easypiechart.min.js')}}"></script>#}

        <script type="text/javascript" src="{{asset('js/backend/gentelella/custom.js')}}"></script>
         
        
        
        {% endblock %}
        {% block scriptForm %}
             {% endblock %}
    </body>
</html>

