{% extends ':back:templateAdmin.html.twig' %}

  {% block content %}
{#    <h1>Headertexte creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('headertexte_index') }}">Back to the list</a>
        </li>
    </ul>
            
            <div class="wrap">
   <span id="animationSandbox" style="display: block;" class=""><h1 class="site__title mega">Animation Demo</h1></span>
  </div>
        
   <button class="btn btn-primary js--triggerAnimation">Rejouer l'animation</button>         
{% endblock %}

 {% block scriptForm %}
    <script type="text/javascript" src="{{asset('vendor/wow.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/backend/form.js')}}"></script>  
    {% endblock %}#}

<div class="row">  
   <div class="col-md-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                 <h2>Phrase d'accroche</h2>   
                    <a class="btn btn-dark btn-xs back-list" href="{{ path('headertexte_index') }}"><i class="fa fa-reply" aria-hidden="true"></i>Retour phrases</a>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <br>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                     
                    {{ form_row(form.texte) }}
                    <p><small>* champ obligatoire</small></p>
                    {{ form_row(form.animationTexte) }}
                    <p><small>* champ obligatoire</small></p>

              </div>
                    <div class="form-group btn-right">
                        <button type="submit" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i>Enregistrer</button>
                    </div>
            </div>
   </div>
 
                       <div class="col-md-6 col-xs-12">
              <div class="x_panel">

                <div class="x_content">
    <div class="bs-docs-section">
            <div class="wrap">
   <span id="animationSandbox" style="display: block;" class=""><h1 class="txt-center">Animation Demo</h1></span>
  </div>
        
   <button class="btn btn-primary js--triggerAnimation">Rejouer l'animation</button>  

    </div> 
              </div>
            </div>
   </div>

                         
          
          
       </div>
 {{ form_end(form) }}
                             
{% endblock %}



{% block scriptForm %}
<script type="text/javascript" src="{{asset('js/backend/form.js')}}"></script>  
{% endblock %}