{% extends ':back:templateAdmin.html.twig' %}

  {% block content %}
    <h1>Headertexte creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('headertexte_index') }}">Back to the list</a>
        </li>
    </ul>
            
          {#   <div>
                 <span id="nameAnimate">
                     <h3 class="animate-demo ">Animation demo</h3></span>
                <div id="animateTexte"class="btn btn-primary">Animer</div>
            </div> #}
            
            <div class="wrap">
   <span id="animationSandbox" style="display: block;" class=""><h1 class="site__title mega">Animation Demo</h1></span>
  </div>
        
   <button class="btn btn-primary js--triggerAnimation">Animer</button>         
{% endblock %}

 {% block scriptForm %}
    <script type="text/javascript" src="{{asset('vendor/wow.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/backend/form.js')}}"></script>  
    {% endblock %}
