{% extends ':back:templateAdmin.html.twig' %}

  {% block content %}
    <h1>Headertexte</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ headerTexte.id }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ headerTexte.texte }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('headertexte_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('headertexte_edit', { 'id': headerTexte.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
