{% extends ':back:templateAdmin.html.twig' %}

  {% block content %}
      
                {% for imageMobile in imageMobiles[0:]  %}
                    {% if loop.index >=2 and imageMobile.publier == true %}
                    <div id="info-mobile">
                        <div class="info-header">
                            <div class="alert alert-success  alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <strong>Attention !</strong> vous avez plusieurs images en statut publié. Seule la plus récente est en ligne.
                            </div>
                        </div>
                    </div>
                    {% else %}
                    {% endif %}
                {% endfor %}
         <div class="">
{#               {% for imageMobile in imageMobiles[0:] %}
                   {% if loop.index >=2 and imageMobile.publier == true %}
                        <div class="col-md-12">
                <div class="alert alert-warning  alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  <strong>Attention !</strong> vous avez plusieurs images en statut publier. Seule la plus récente est en ligne.
                </div>
                    </div>
                        {% else %}
                        {% endif %}
                         {% endfor %}#}
          <div class="page-title">
            <div class="title_left">
                <h3>Header <small>version mobile</small></h3>
            </div>
                <span class="btn-title-left col-md-2">
                    <a class="btn btn-dark btn-sm" href="{{ path('imagemobile_new') }}">Ajouter</a></span>

       </div>
          <div class="clearfix"></div>

                <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_content">
                 <div class="row">
                   {% for imageMobile in imageMobiles %}
                       {#<img src="{{asset('uploads/header/')~ imageMobile.image}}" class="col-md-8 col-md-offset-2 img-responsive" alt="{{ imageMobile.image }}" />#}
                      {# <div class="col-md-8 col-md-offset-2">
                       <div class="thumbnail">
                        <div class="image view view-first">
                          <img src="{{asset('uploads/header/')~ imageMobile.image}}" class="img-responsive" alt="{{ imageMobile.image }}"/>
                          <div class="mask">
                            <div class="tools tools-bottom">
                              <a href="#"><i class="fa fa-link"></i></a>
                              <a href="#"><i class="fa fa-pencil"></i></a>
                              <a href="#"><i class="fa fa-times"></i></a>
                            </div>
                          </div>
                        </div>
                        <div class="caption">
                          <p>{{ imageMobile.image }}</p>
                        </div>
                      </div>
                       </div>#}
                        <div class="col-sm-6 col-md-8 col-md-offset-2">
                          <div class="thumbnail">
                            <img src="{{asset('uploads/header/')~ imageMobile.image}}" class="img-responsive">
                            <div class="caption">
                              <label>{{ imageMobile.image }}</label>
                              <p>Créer le {{ imageMobile.date|date ('j/m/y à H:i:s') }}</p>
                              {% if imageMobile.publier == true %}
                               <span type="button" class="label label-success">Publié</span>
                              {% else %}
                                  <span class="label label-warning">Brouillon</span>
                              {% endif %}
                              <p class="btn-right"><a href="{{ path('imagemobile_edit', { 'id': imageMobile.id }) }}" class="btn btn-info btn-sm"><i class="fa fa-pencil-square-o no-mg-right"></i> Editer </a>
                                 <a href="{{ path('imagemobile_delete', { 'id': imageMobile.id }) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash-o no-mg-right"></i> Supprimer </a></p>
                            </div>
                          </div>
                        </div>
                   {% endfor %}
                </div>
                </div>
              </div>
            </div>

                </div>
                    
                   </div>   
                       



{% endblock %}
