{% extends ':back:templateAdmin.html.twig' %}

  {% block content %}
    <h1>Imagemobile</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imageMobile.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ imageMobile.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imagemobile_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('imagemobile_edit', { 'id': imageMobile.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
