{% extends ':back:templateAdmin.html.twig' %}

  {% block content %}
     

      <div class="row">  
   <div class="col-md-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                    <h2>Edit header style</h2>
                    <a class="btn btn-dark btn-xs back-list" href="{{ path('header_index') }}"><i class="fa fa-reply" aria-hidden="true"></i>Retour header</a>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <br>
    {{ form_start(edit_form) }}
      {#  {{ form_widget(edit_form) }}#}
      
         {{ form_row(edit_form.styleDefault) }}
                     <div class="ln_solid"></div>
         <label for="appbundle_header_headerTexte">Phrase d'accroche</label>  
         {{ form_widget(edit_form.headerTexte) }}
          <p><small>* champ obligatoire</small></p>
                <label for="appbundle_header_image" class="input-label">
          <i class="fa fa-upload"></i>Select fichier</label>
          {{form_widget(edit_form.image)}}
           <p><small>* champ obligatoire</small></p>
       
                <img id="selectImage" src="{{asset('uploads/header/')~header.image}}" alt="your image" />
                
                
                </div>
                
              </div>
                                            <div class="form-group btn-right">
                        <button type="submit" class="btn btn-success"><i class="fa fa-upload" aria-hidden="true"></i>Mettre à jour</button>
                      </div>
            </div>
     
                         

       </div>
                         
                                
      
    {{ form_end(edit_form) }}
   
          
{% endblock %}
{% block scriptForm %}
    <script type="text/javascript" src="{{asset('js/backend/form.js')}}"></script>
{% endblock %}
