{% extends ':back:templateAdmin.html.twig' %}

    {% block content %}
        
        {% for message in app.flashes('succes') %}
      <div id="success">
      </div>
      {% endfor %}
      
      {% for message in app.flashes('delete') %}
      <div id="delete">
      </div>
      {% endfor %}
      
      {% for message in app.flashes('erreur') %}
      <div id="error">
      </div>
      {% endfor %}
        
        <div class="">
            <div class="page-title">
                {% for header in headers %}
                {% if header.styleDefault !=null %}
                <div class="row">
                    <div class="col-md-12">
                <div class="alert alert-warning  alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  <strong>Supprimer !</strong> le header par defaut avant de créer le slider.
                </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="title_left">
                <h3>Header</h3>
                <span class="btn-title-left"><a class="btn btn-dark btn-sm" href="{{ path('header_new') }}">Ajouter</a></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                {% for header in headers %}
                {% if header.styleDefault !=null %}
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                        <h2>Style par defaut |
                        <small>{% if header.styleDefault %}
                            <i class="fa fa-circle animated-demo infinite pulse" aria-hidden="true"></i>Activer
                                {% else %}
                            <i class="fa fa-circle no-activate" aria-hidden="true"></i>Non activer
                                {% endif %}
                        </small> </h2>
                            <div class="nav navbar-right panel_toolbox">
                            <a class="btn btn-info btn-sm" href="{{ path('header_edit', { 'id': header.id }) }}"><i class="fa fa-pencil-square-o no-mg-right" aria-hidden="true"></i></a>
                            <a class="btn btn-danger btn-sm" href="{{ path('header_delete', { 'id': header.id }) }}"><i class="fa fa-trash-o no-mg-right" aria-hidden="true"></i></a>
                            </div>
                        <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-4 col-sm-3 col-xs-12 profile_left">
                                <div class="background-pochette">
                                <img src="{{asset('images/pochette_background_min.png')}}" alt="your image" />  
                                </div>
                                <img src="{{asset('uploads/header/')~header.image}}" class="img-pochette-min" alt="your image" />
                            </div>
                            <div class="col-md-6 col-sm-3 col-xs-12">                         
                                <div id="carousel-example-generic" class="carousel slide"data-wow-duration="1500ms" data-ride="carousel">                                                
                                    <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    </ol>
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">                           
                                    {% for header in header.headerTexte[0:] %}                                 
                                        <div class="item{%if loop.index == 1%} active {%endif%}">                          
                                        <h3 class="txt-carousel animated-demo {{ header.animationTexte}}">{{ header.texte }}</h3>
                                        <a class="edit-carousel" href="{{ path('headertexte_edit', { 'id': header.id }) }}">Edit texte</a>                        
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                                      
                </div>
                {% else %}  
                {% endif %}  
                {% endfor %}    
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">                               
                        <div class="x_title">
                        <h2>Style Carousel |</h2>
                        {% for header in headers %}
                        <h2><small>{% if header.styleDefault == null %} {% set counter = ( counter | default(0) ) + 1 %}
                        <i class="fa fa-circle animated infinite pulse" aria-hidden="true"></i>Slide {{ counter }} activer
                        {% else %}                                   
                        <i class="fa fa-circle no-activate" aria-hidden="true"></i>Non activer                                 
                        {% endif %}
                        </small> </h2>
                        {% endfor %}
                            <div class="nav navbar-right panel_toolbox">
                            {% for header in headers %}
                            {% if header.styleDefault ==null %}
                            {% set counter = ( counter | default(0) ) + 1 %}
                                <div class="">
                                <a class="btn btn-info btn-sm" href="{{ path('header_edit', { 'id': header.id }) }}"><i class="fa fa-pencil-square-o no-mg-right" aria-hidden="true"></i></a>
                                <a class="btn btn-danger btn-sm" href="{{ path('header_delete', { 'id': header.id }) }}"><i class="fa fa-trash-o no-mg-right" aria-hidden="true"></i></a>
                                <p class="nb-img">slide {{ counter }}</p>
                                </div>
                            {% else %}  
                            {% endif %}  
                            {% endfor %}
                            </div>
                        <div class="clearfix"></div>
                        </div>
                        <div class="x_content">                            
                            <div class="col-md-12">
                                <div id="carousel-example-generic-2" class="carousel slide big-carousel" data-ride="carousel">
                                <!-- Indicators -->
                                    <ol class="carousel-indicators big-indic-pos">
                                    <li data-target="#carousel-example-generic-2" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
                                    </ol>
                                <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                    {% for header in headers %}
                                    {% if header.styleDefault ==null and  header.image [0:] %} 
                                        <div class="item{%if loop.index == 1%} active {%endif%}">
                                          <div class="opaque"></div> 
                                        <img src="{{asset('uploads/header/')~header.image}}">
                                        {% for header in header.headerTexte%}
                                        <div class="carousel-caption">          
                                        <h3 class="txt-carousel-big animated-demo {{ header.animationTexte}}">{{ header.texte }}</h3>
                                        <a class="btn btn-info btn-sm animated-demo fadeIn" href="{{ path('headertexte_edit', { 'id': header.id }) }}">Edit texte</a>
                                        </div>
                                        </div>
                                    {% endfor %}
                                    {% endif %}         
                                    {% endfor %}    
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>                                     
                </div>            
            </div>
        </div>   
    {% endblock %}

    {% block scriptForm %}
    <script type="text/javascript" src="{{asset('js/backend/form.js')}}"></script>
    {% endblock %}