    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Easy music project | </title>

            {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" type="text/css" href="{{asset('vendor/bootstrap.min.css')}}"/>
            <link rel="stylesheet" type="text/css" href="{{asset('vendor/font-awesome.min.css')}}"/>
            <link rel="stylesheet" type="text/css" href="{{asset('vendor/animate.css')}}"/>
            <link rel="stylesheet" type="text/css" href="{{asset('css/gentelella/custom.css')}}"/>
            <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}"/>
            {% endblock %}  
        </head>

        <body style="background:#F7F7F7;">
            <div id="wrapper">

            {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                {{ message }}
                </div>
            {% endfor %}
            {% endfor %}
            {% endif %}


            {% block fos_user_content %}
            {% endblock %}

            </div>

        {% block javascripts %}
        <script type="text/javascript" src="{{asset('vendor/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('vendor/bootstrap.min.js')}}"></script>
        {% endblock %}

        </body>
    </html>



