{% extends '::base.html.twig' %}

 {% block stylesheets %}
     
      {{ parent() }}
        
         {% stylesheets output="css/compiled/main.css"

        
        
         filter='cssrewrite' %}
         <link rel="stylesheet" href="{{ asset_url }}" />
         {% endstylesheets %}
         {% endblock %}

  {% block body %}

      {% for header in headers %}
          
          {% if header.isDefault != null %}
                 {{ header.image }}
          
          
            {% for headerTexte in headerTextes %}
           <div>{{ headerTexte.texte }}</div>
           <div>{{  headerTexte.nomAnimation }}</div>
                

             {% endfor %}
              {% else %}
                  carousel
                  {% endif %}
                  
       
       {% endfor %}
       
 
       
       
       
     
             
   {% endblock %}
   
    {% block javascripts %}
         {{ parent() }}
         {% endblock %}