{% extends ':front:templateFront.html.twig' %}


  {% block content %}
         <body class="productions">

          <div class="app">
              <div class="container-prod">
              {% block search %}
                 {#{{ render(controller("AppBundle:Front:recherche")) }}#}
             {#    {{ render(controller('AppBundle:Recherche:recherche')) }}#}
                  <div class="searching">
                      <div class="search col-lg-2 col-md-4 col-sm-5">
                            
                            <form class="" method="post" action="{{ path('productionsrecherche')}}">
                        <div class="input-group">
                          <input type="search" class="form-control" placeholder="Search for..." name="motcle">
                          <span class="input-group-btn">
                              <button class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
                          </span>
                        </div><!-- /input-group -->
                         </form>
                          
                      </div>
                      <div class="genres-mobile">
                          <ul>
                               <li><i class="fa fa-home" aria-hidden="true"></i></li>
                              {% for genre in genres %}                                  
                              <li><a class="" href="{{ path('productionsgenre', { 'id': genre.id }) }}">{{genre.nom}}</a></li>
                              {% endfor %}
                          </ul>
                      </div>
                      <div class="genres col-lg-3 col-lg-offset-3 col-md-5 col-sm-7">
                          <h3 class="title-rubrique">productions<span class="genres-rubrique">genres musicaux</span></h3>
                          
                         <div class="main-icon-genre" id="">
                            <span class="hamb-genre"></span>
                         </div>
                      </div>
                      
                  </div>

              {% endblock %}
              
              {% block productions %}
                  {% for sound in pagination %}

                    {# {% if sound.publier == true %}#}
                      <p>{{ sound.titre }}</p>
                      <p>{{ sound.label }}</p>
                     
                   {#   {{ sound.description }}
                      {{ sound.titre }}
                      {{ sound.auteur }}
                      {{ sound.label }}
                      {{ sound.image }}
                      {{ sound.morceau }}
                      {{ sound.annee|date ('j/m/y à H:i:s') }}
                      {{ sound.link }}
                      {{ sound.linkSpotify }}
                      {{ sound.linkDeezer }}#}
                    
                        
                   {#{% endif %}#}
                   
                       
                  {% endfor %}
                   <div class="navigation">{{ knp_pagination_render(pagination) }}</div>
              {% endblock %}
          </div>
          </div>
          {% endblock %}
