{% extends ':back:templateAdmin.html.twig' %}

  {% block content %}
    <h1>Presents list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Texte</th>
                <th>Image</th>
                <th>Publier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for present in presents %}
            <tr>
                <td><a href="{{ path('present_show', { 'id': present.id }) }}">{{ present.id }}</a></td>
                <td>{{ present.texte }}</td>
                <td>{{ present.image }}</td>
                <td>{% if present.publier %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('present_show', { 'id': present.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('present_edit', { 'id': present.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('present_new') }}">Create a new present</a>
        </li>
    </ul>
{% endblock %}
